/* Add CSS Styling */

.one {
  background-color: aquamarine;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

#two {
  font-size: 38px;
  color: blueviolet;
}

.adjust_font_size {
  font-size: 25px;
}

#four {
  font-size: 28px;
  color: blue;
  background-color: bisque;
}

.two {
  font-size: 17px;
  color: beige;
  background-color: blanchedalmond;
  color: black;
}
