* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  /* border: dashed red; */
  border: 10px double red;
  border-top-width: 5px;
  border-right: 10px dotted;
  border-bottom: ridge; /*line*/
  border-bottom-color: blue;
  font-size: 1.5rem;
  margin: 1.5em 2em; /* Top bottom and left and right*/

  /* margin-top: 1.5em;
  margin-right: 2em;
  margin-bottom: 2em;
  margin-left: 2em; */
  padding: 1.5em;
  outline: 5px solid purple;
  /*  outline-offset: 5px; */
  outline-offset: -20px;
}

.circle {
  margin: 3rem auto;
  background-color: gold;
  width: 100px;
  height: 100px;
  border: 2px solid black;
  border-radius: 50px; /* circle since half of 100px */
  outline: 2px solid red;
  offset: 0.25rem;
}

.box {
  font-size: 2rem;
  background-color: pink;
  width: 300px;
  height: 100px;
  /*  
  padding-top: 32px;
  padding-right: 32px;
  padding-bottom: 32px;
  padding-left: 32px; 
  */
  padding: 32px 64px 100px 10px; /* TOP --> RIGHT --> BOTTOM --> LEFT */
  border: 5px solid black;
  /* margin-top: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  margin-left: 20px; */
  margin: 20px 40px 100px 10px;
  /* BOX Modell */
}
